.rack-header {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.rack-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #cfe8fc;
    border-radius: 10px;
    margin-right: 18px;
}

.rack-icon[healthy]::before {
    position: absolute;
    right: -4px;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: 'check';
    font-family: 'Material Symbols Outlined';
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: rgb(39,226,25);
    border: 2px solid white;
}

.rack-icon > .graphics {
    display: flex;
    flex-direction: column;
}

.rack-icon > .graphics {
    --rhombus-width: 42px;
    --rhombus-height: 22px;
}

.rack-icon > .graphics > span {
    width: var(--rhombus-width);
    height: var(--rhombus-height);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    aspect-ratio: 1;
}

.rack-icon > .graphics > span:nth-child(n+2) {
    margin-top: calc((var(--rhombus-height) - 8px) * -1);
}

.rack-icon > .graphics > span:nth-child(1) {
    background: #13005A;
    z-index: 30;
}

.rack-icon > .graphics > span:nth-child(2) {
    background: #1565c0;
    z-index: 20;
} 

.rack-icon > .graphics > span:nth-child(3) {
    background: #42a5f5;
    z-index: 10;
}

.rack-data {
    padding: 5px 0;
}

.rack-data > h1.asn {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    color: black;
}

.rack-data > ul.settings-summary {
    display: flex;
    font-family: "Teachers";
    font-size: 16px;
    color: #444;
    padding: 0;
    margin: 8px 0 0;
}

.rack-data > .settings-summary > li {
    display: flex;
    align-items: center;
    padding: 0;
}

.rack-data > .settings-summary > li::after {
    content: "/";
    margin: 0 8px;
}

.rack-data > .settings-summary > li:last-child::after {
    display: none;
}

.rack-header > .meta {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    font-family: "Teachers";
    color: #444;
}

.rack-header > .actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 40px;
}

.rack-header > .actions > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    height: 43px;
    padding: 0 20px;
    font-family: 'DM Sans';
    border-radius: 5px;
    margin-right: 20px;
    background: #e9eef1;
}

.rack-header > .actions > .btn:last-of-type {
    margin: 0;
}

.rack-header > .actions > .btn.highlight {
    background: #0061fe;
    color: white;
}

.rack-header > .actions > .btn > .icon {
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
}

.rack-header > .actions > .btn > .txt+.icon,
.rack-header > .actions > .btn > .icon+.txt {
    padding-left: 4px;
}